/*
!/.config/
!/.spacemacs.d/
!/.uim.d/
!/filter-file-upload
!/filter-file-download
!/my.rclone
!/shortcut
!/.gitmodules
!/.gitignore
!/.gitattributes
!/.git-crypt/
!/.vimrc_bak
!/.xmobarrc
!/devices/
!/user/
!/apply-git.sh
!/samsungDS
!/crd
